body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

h1{
    font-size: 24px;
}

/* botoes */
.btn{
    background-color:white;
    color: black;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
}

.btn a:hover {
    cursor: pointer;
}

.btn a {
    text-decoration: none;
}

/* menu */
.menu {
    background-color: rgb(201, 194, 194);
    padding: 25px;
    margin: 0;
    font-size: 14px;
    list-style: none;
}

.menu li {
    float: left;
    display: inline;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

/* container */
#container {
    background-color: white;
    padding: 20px;
}

.row{
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
}

header, footer {
    background-color: black;
    padding: 20px;
}

header h1, footer p {
    color: white;
}

/* footer */
footer p{
    font-size: 14px;
    text-align: center;
}