body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 3px;
}

#container {
    background-color: white;
}

.menu {
    background-color: rgba(175, 147, 147, 0.904);
    color: black;
}

header, footer {
    background-color: black;
}

header h1, footer p {
    color: white;
}